@media only screen and (max-width: 600px) {
    body {
      background-color: lightblue;
    }
  }

  body {
    background-color: white;
  }

  img {
    width: 100%;
    height: auto !important;
  }

  .transaction_parent {
    display: flex;
    background-color: white;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px;
  }

  .topnav {
    overflow: hidden;
    background-color: white;
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 13%;
    align-items: center;

  }

  .topnav #myLinks {
    display: none;
  }

  .topnav a {
    color: #221f1f;
    /* padding: 14px 16px; */
    text-decoration: none;
    font-size: 20px;
    display: block;
  }

  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }

  .active {
    background-color: #04AA6D;
    color: white;
  }

  input {
    width: 622px;
    border-radius: 28px;
    border: none;
    padding: 10px 17px;
    outline: none;
  }

  button {
    border: none;
    border-radius: 28px;
    padding: 10px 0px;
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
  }

  /* .postion1 {
    position: relative;
  } */

  .middle {
    border-radius: 28px;
    border: 1px solid black;
    /* border-radius: 18px; */
    position: relative;
  }

  .margin1 {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  h4 {
    margin: 0%;
  }

  .last {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 29px;
  }

  .suggestionlist {
    position: absolute;
    width: 100%;
    top: 100%;
    left: 0;
    background-color: white;
    border-radius: 20px;
    padding: 20px;
    display: none;
    overflow-y: scroll;
    height: 70vh;
    box-shadow: 0px 0px 20px gray;
  }

  .videowidth {
    /* width: 30%; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;

  }

  .videowidth div {
    width: 23%;
    font-weight: bold;
    height: 291px;
  }

  .videowidth img {
    border-radius: 12px;

  }

  sup {
    font-size: 15px;
  }

  .oneimg {
    border-radius: 50%;
    width: 31px;
  }
  
.sidenav {
height: 100%;
width: 0;
position: fixed;
z-index: 1;
top: 0;
left: 0;
background-color:white;
overflow-x: hidden;
transition: 0.5s;
padding-top: 60px;
}

.sidenav a {
padding: 8px 8px 8px 32px;
text-decoration: none;
font-size: 20px;
color:black;
display: block;
transition: 0.3s;
}

.sidenav a:hover {
color: #f1f1f1;
}

.sidenav .closebtn {
position: absolute;
top: 0;
right: 25px;
font-size: 36px;
margin-left: 50px;
}

@media screen and (max-height: 450px) {
.sidenav {padding-top: 15px;}
.sidenav a {font-size: 18px;}
}